@page
@model AgapayAidSystem.Pages.EvacuationCenter.EditEvacuationCenterModel
@{
	ViewData["Title"] = "Edit Evacuation Center";
}
@if (Model.UserType == "Admin")
{
	Layout = "_Layout";
}
else if (Model.UserType == "LGU Staff")
{
	Layout = "_Layout - LGU";
}
else if (Model.UserType == "EC Staff")
{
	Layout = "_Layout - ECStaff";
}
else
{
	Layout = "_Login";
}

<!-- Alert Banners -->
@if (!string.IsNullOrEmpty(Model.errorMessage))
{
	<div class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Error: @Model.errorMessage</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

@if (!string.IsNullOrEmpty(Request.Query["errorMessage"]))
{
	<div class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Error: @Request.Query["errorMessage"]</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

<style>
	.input-facility {
		width: 100px;
	}

	.label-facility {
		padding-top: 10px;
		padding-left: 10px;
	}
</style>

<div class="bg-light rounded px-2 py-0 my-3 text-center">
	<div class="col-lg-8 mx-auto">
		<!--NOTE: Labels are longer so column sizes here are larger-->
		<form method="POST" id="editEvacuationForm">
			<h1 class="display-5 fw-bold">Edit Evacuation Center</h1>
			<br />

			<input type="hidden" name="centerID" value="@Model.evacuationInfo.centerID" />

			<!-- Evacuation Center Name -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="centerName">Evacuation Center Name:<span class="text-danger" style="padding:5px">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="centerName" value="@Model.evacuationInfo.centerName" required maxlength="65" />
				</div>
			</div>

			<!-- Evacuation Center Type -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="centerType">Type of Evacuation Center:<span class="text-danger" style="padding:5px">*</span></label>
				<div class="col-sm-8">
					<select class="form-select" name="centerType" required>
						<option value="" selected disabled>Select Evacuation Center Type</option>
						@{
							if (Model.evacuationInfo.centerType == "School EC")
							{
								<option value="School EC" selected>School EC</option>
							}
							else
							{
								<option value="School EC">School EC</option>
							}

							if (Model.evacuationInfo.centerType == "Barangay Designated EC")
							{
								<option value="Barangay Designated EC" selected>Barangay Designated EC</option>
							}
							else
							{
								<option value="Barangay Designated EC">Barangay Designated EC</option>
							}
						}
					</select>
				</div>
			</div>

			<!-- Street Address -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="streetAddress">Street Address:<span class="text-danger" style="padding:5px">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="streetAddress" value="@Model.evacuationInfo.streetAddress" required maxlength="85" />
				</div>
			</div>

			<!-- Barangay -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="barangayID">Barangay:<span class="text-danger" style="padding:5px">*</span></label>
				<div class="col-sm-8">
					<select class="form-select" name="barangayID" id="barangayID" required>
						<option value="" selected disabled>Select Barangay</option>
						@if (Model.Barangays != null)
						{
							@foreach (var type in Model.Barangays)
							{
								if (type.barangayID == Model.evacuationInfo.barangayID)
								{
									<option value="@type.barangayID" selected>@type.barangayName</option>
								}
								else
								{
									<option value="@type.barangayID">@type.barangayName</option>
								}
							}
						}
					</select>
				</div>
			</div>

			<!-- Mobile Number -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="barangayID">Mobile Number:</label>
				<div class="col-sm-8">
					<input type="tel" class="form-control" name="mobileNum" id="mobileNum" value="@Model.evacuationInfo.mobileNum" placeholder="09XXXXXXXXX" maxlength="11" pattern="[0-9]{11}" title="Enter digits only." />
				</div>
			</div>

			<!-- Telephone Number -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="telephoneNum">Telephone Number:</label>
				<div class="col-sm-8">
					<input type="tel" class="form-control" name="telephoneNum" id="telephoneNum" value="@Model.evacuationInfo.telephoneNum" placeholder="02XXXXYYYY" maxlength="10" pattern="[0-9]{10}" title="Enter digits only." />
				</div>
			</div>

			<!-- Maximum Capacity -->
			<div class="row mb-1">
				<label class="col-sm-4 col-form-label text-start" for="maxCapacity">Maximum Capacity:<span class="text-danger" style="padding: 5px">*</span></label>
				<div class="col-sm-8">
					<input type="number" class="form-control mx-auto" name="maxCapacity" value="@Model.evacuationInfo.maxCapacity" required min="1" />
				</div>
			</div>

			<hr class="my-4" />

			<h4 class="text-start ">Available Facilities<span class="text-danger" style="padding: 5px">*</span></h4>
			<p class="pb-2 text-start"><i>Fill the input boxes with the number of available facilities in the evacuation center</i></p>

			<div class="row">
				<!-- Toilets -->
				<div class="row mb-1">
					<div class="d-flex align-items-center">
						<input type="number" class="form-control input-facility" name="toilet" value="@Model.evacuationInfo.toilet" placeholder="0" step="1" min="0" />
						<label class="form-label label-facility">Toilets</label>
					</div>
				</div>

				<!-- Bathing Cubicle -->
				<div class="row mb-1">
					<div class="d-flex align-items-center">
						<input type="number" class="form-control input-facility" name="bathingCubicle" value="@Model.evacuationInfo.bathingCubicle" placeholder="0" step="1" min="0" />
						<label class="form-label label-facility">Bathing Cubicle</label>
					</div>
				</div>

				<!-- Community Kitchen -->
				<div class="row mb-1">
					<div class="d-flex align-items-center">
						<input type="number" class="form-control input-facility" name="communityKitchen" value="@Model.evacuationInfo.communityKitchen" placeholder="0" step="1" min="0" />
						<label class="form-label label-facility">Community Kitchen</label>
					</div>
				</div>

				<!-- Washing Area -->
				<div class="row mb-1">
					<div class="d-flex align-items-center">
						<input type="number" class="form-control input-facility" name="washingArea" value="@Model.evacuationInfo.washingArea" placeholder="0" step="1" min="0" />
						<label class="form-label label-facility">Washing Area</label>
					</div>
				</div>

				<!-- Women-Friendly and Child-Friendly spaces -->
				<div class="row mb-1">
					<div class="d-flex align-items-center">
						<input type="number" class="form-control input-facility" name="womenChildSpace" value="@Model.evacuationInfo.womenChildSpace" placeholder="0" step="1" min="0" />
						<label class="form-label label-facility text-start">Women-Friendly and Child-Friendly spaces</label>
					</div>
				</div>

				<!-- Multipurpose Areas -->
				<div class="row mb-1">
					<div class="d-flex align-items-center">
						<input type="number" class="form-control input-facility" name="multipurposeArea" value="@Model.evacuationInfo.multipurposeArea" placeholder="0" step="1" min="0" />
						<label class="form-label label-facility">Multipurpose Areas</label>
					</div>
				</div>
			</div>

			@if (!string.IsNullOrEmpty(Model.successMessage))
			{
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}

			<br />

			<!-- Cancel and Save Button -->
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a href="/evacuationcenter/profile?centerID=@Model.evacuationInfo.centerID" type="button" class="btn btn-outline-secondary px-4 gap-3">Cancel</a>
				<button type="button" id="submitBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editConfirmationModal">Save</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal: Confirm Save -->
<div class="modal" id="editConfirmationModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Edit</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to save the changes?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="saveChangesButton">Save Changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Format Mobile and Telephone Number -->
<script>
	const mobileInput = document.getElementById('mobileNum');
	const telephoneInput = document.getElementById('telephoneNum');

	// Set initial values when the input fields receive focus
	mobileInput.addEventListener('focus', function () {
		if (!this.value.startsWith('09')) {
			this.value = '09';
		}
	});

	telephoneInput.addEventListener('focus', function () {
		if (!this.value.startsWith('02')) {
			this.value = '02';
		}
	});

	mobileInput.addEventListener('input', function () {
		let cleanedValue = this.value.replace(/[^0-9]/g, '');

		if (cleanedValue.length >= 2) {
			cleanedValue = '09' + cleanedValue.slice(2);
		}

		this.value = cleanedValue.slice(0, 11);
	});

	telephoneInput.addEventListener('input', function () {
		let cleanedValue = this.value.replace(/[^0-9]/g, '');

		if (cleanedValue.length >= 2) {
			cleanedValue = '02' + cleanedValue.slice(2);
		}

		this.value = cleanedValue.slice(0, 10);
	});
</script>

<!-- Enable/disable "Submit" button -->
<script>
	const submitButton = document.getElementById('submitBtn');
	const form = document.querySelector('form');

	submitButton.disabled = true;

	function checkFormValidity() {
		if (form.checkValidity()) {
			submitButton.disabled = false;
		} else {
			submitButton.disabled = true;
		}
	}

	form.addEventListener('input', checkFormValidity);
</script>

<!-- Save Changes -->
<script>
	document.getElementById('saveChangesButton').addEventListener('click', function () {
		document.getElementById('editEvacuationForm').submit();
	});
</script>