@page
@model AgapayAidSystem.Pages.Disaster.Profile.IndexModel
@{
    string pageTitle = $"{Model.disasterInfo.disasterName}";
    ViewData["Title"] = pageTitle;
}

<!-- Alert Banners -->
@if (!string.IsNullOrEmpty(Request.Query["successMessage"]))
{
    <div id="success-notification" class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Request.Query["successMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <script>
        const successNotification = document.getElementById('success-notification');
        if (successNotification) {
            setTimeout(function () {
                successNotification.style.display = 'none';
            }, 5000); // 5000 milliseconds = 5 seconds
        }
    </script>
}

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error: @Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Request.Query["errorMessage"]))
{
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error: @Request.Query["errorMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<div class="content">
    <input type="hidden" name="disasterID" value="@Model.disasterInfo.disasterID" />

    <!-- Breadcrumb -->
    <div class="row pb-2" aria-label="breadcrumb">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door-fill" style="padding: 5px;"></i>Home</a></li>
                <li class="breadcrumb-item"><a href ="/index">Disaster</a></li>
                <li class="breadcrumb-item active"><a><strong>@Model.disasterInfo.disasterName</strong></a></li>
            </ol>
        </nav>
    </div>

    <!-- Title, Info Button, Menu Button -->
    <div class="row p-2">
        <div class="col d-flex align-items-center">
            <h1>@Model.disasterInfo.disasterName</h1>
        </div>

        <div class="col-auto button-spacer">
            <!-- Button with text and icon (visible on larger screens) -->
            <button id="toggleButton" class="btn btn-light d-none d-md-inline-block" style="padding:5px">
                <i class="bi bi-info-circle-fill"></i> Info
            </button>

            <!-- Button with only the icon (collapsed on smaller screens) -->
            <button id="toggleButtonMobile" class="btn btn-light d-inline-block d-md-none">
                <i class="bi bi-info-circle-fill"></i>
            </button>

            <div class="d-inline position-relative">
                <a href="#" role="button" id="recordOptions" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="recordOptions">
                    <li>
                        <a class="dropdown-item" href="/disaster/profile/report">
                            Generate Report
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/disaster/profile/edit?disasterID=@Model.disasterInfo.disasterID">
                            Edit Disaster Info
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-danger dropdown-item" onclick="prepareDelete('@Model.disasterInfo.disasterID')"
                           data-deleteid="@Model.disasterInfo.disasterID" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                            Delete Disaster
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
    <div class="description">
        <p><strong>Type:</strong>
            @Model.disasterInfo.disasterType
        </p>
        <p><strong>Description:</strong> 
            @Model.disasterInfo.description
        </p>
        <p><strong>Date Occurred:</strong> 
            @Model.disasterInfo.dateOccured
        </p>
    </div>

    <div class="box-info">
        <div class="info-item">
            <i class="bi bi-people"></i>
            <div class="text">
                <h3>@Model.GetTotalDistinctEvacueesCount()</h3>
                <p><b>Total Evacuees</b></p>
                <div class="box-stat">
                    <small>Check-in: <span>@Model.GetTotalCheckInCount()</span></small>
                    <small>Check-out: <span>@Model.GetTotalCheckOutCount()</span></small>
                </div>
            </div>
        </div>

        <div class="info-item">
            <i class="bi bi-buildings-fill"></i>
            <div class="text">
                <h3>@Model.GetTotalDistinctBarangaysCount()</h3>
                <p><b>Total Affected Barangays</b></p>
                <div class="box-stat">
                    <small>Families: <span>@Model.GetTotalDistinctFamiliesCount()</span></small>
                    <small>Male: <span>@Model.GetTotalDistinctFemaleCount()</span></small>
                    <small>Female: <span>@Model.GetTotalDistinctMaleCount()</span></small>
                </div>
            </div>
        </div>  
        
        <div class="info-item">
            <i class="bi bi-building-fill"></i></i>
            <div class="text">
                <h3>@Model.GetTotalCenterCount()</h3>
                <p><b>Total Evacuation Centers</b></p>
                <div class="box-stat">
                    <small>Open: <span>@Model.GetTotalOpenCenterCount()</span></small>
                    <small>Closed: <span>@Model.GetTotalClosedCenterCount()</span></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <!-- Title and Allocate Button-->
    <div class="row p-2">
        <div class="col d-flex align-items-center">
            <h1>Evacuation Center Log</h1>
        </div>

        <div class="col-auto d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-end align-items-center">
                <a class="btn btn-primary mb-2" href="/disaster/profile/allocateec?disasterID=@Model.disasterInfo.disasterID">
                    <i class="bi bi-building-add"></i>Allocate Evacuation Center
                </a>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row p-2">
        <div class="col-lg-12">
            <table id="eclog-table" class="table display compact order-column table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Evacuation Center</th>
                        <th>Barangay</th>
                        <th style="text-align: center;">Occupancy</th>
                        <th style="text-align: center;">Assigned Staff</th>
                        <th>Opening Date</th>
                        <th>Closing Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ var counter = 1; }
                    @foreach (var item in Model.listCenterLog)
                    {
                        <tr data-id="@item.centerLogID">
                            <td width="5%">@counter</td>
                            <td width="20%">@item.centerName</td>
                            <td width="15%">@item.barangayName</td>
                            <td width="15%" style="text-align: center;">@item.occupancy/@item.maxCapacity</td>
                            <td width="15%" style="text-align: center;">@item.totalStaff</td>
                            <td width="15%">@item.openingDateTime</td>
                            <td width="15%">@item.closingDateTime</td>
                            <td width="10%">
                                <a class="btn btn-success edit-button" href="/disaster/profile/informationboard/index?centerLogID=@item.centerLogID">
                                    View
                                </a>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal: Confirm Delete -->
<div class="modal" id="deleteConfirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this disaster?</p>
                <p><strong class="text-danger">This cannot be undone.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- For Info Button -->
<script>
    const toggleButton = document.getElementById('toggleButton');
    const description = document.querySelector('.description');

    toggleButton.addEventListener('click', () => {
        if (description.style.display === 'none') {
            description.style.display = 'block';
        } else {
            description.style.display = 'none';
        }
    });
</script>

<!-- Making the table responsive -->
<script>
    $(document).ready(function () {
        $('#eclog-table').DataTable({
            responsive: true,
            columnDefs: [
                { "orderable": true, "targets": [0, 1, 2, 3, 4, 5, 6] }, // Sortable columns
                { "orderable": false, "targets": [7] } // Non-sortable columns
            ],
            language: {
                emptyTable: "There are no evacuation centers allocated to this disaster.",
            }
        });
    });
</script>

<!-- Confirm Delete button in Modal -->
<script>
    const deleteButtons = document.querySelectorAll('.edit-button');
    let disasterIdToDelete = null;

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            disasterIdToDelete = this.getAttribute('data-deleteid');
        });
    });

    // Function to prepare for delete action
    function prepareDelete(disasterID) {
        if (disasterID === null || disasterID === undefined) {
            // Retrieve disasterID from the button's data-deleteid attribute
            disasterIdToDelete = event.currentTarget.getAttribute('data-deleteid');
        } else {
            disasterIdToDelete = disasterID;
        }
    }

    const confirmDeleteButton = document.getElementById('confirmDeleteButton');

    confirmDeleteButton.addEventListener('click', function () {
        if (disasterIdToDelete !== null) {
            window.location.href = "/disaster/profile/delete?disasterID=" + disasterIdToDelete;
        }
    });
</script>