@page
@model AgapayAidSystem.Pages.Family.Add.HeadModel
@{
	ViewData["Title"] = "Add Family Head";
}

<style>
	.radioAlign:nth-child(1) {
		display: block;
		width: 100%;
		clear: both;
	}

	.radioAlign {
		width: 50%;
		display: block;
		float: left;
	}

	.radio1x2:nth-child(1) {
		display: block;
		width: 100%;
		clear: both;
	}

	.radio1x2 {
		width: 50%;
		display: block;
		float: left;
	}
</style>

<div class="container p-2 form-container">

	<div class="container mt-4" id="disaster-form-container">

		<div class="row pt-4">
			<div class="col text-center">
				<h1>Add Family Head</h1>
			</div>
		</div>

		<div class="row pt-4">
			<form method="POST">
				<div class="row">
					<p class="text-danger text-end">* Required field</p>
				</div>
				<div class="row">
					@*<!-- Family ID-->
					<div class="col-md-3">
					<div class="mb-3">
					<label class="form-label">
					Family ID:
					<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<input type="text" class="form-control" name="familyID" value="@Model.familyInfo.familyID" required maxlength="65" />
					</div>
					</div>

					<!-- Member ID -->
					<div class="col-md-3">
					<div class="mb-3">
					<label class="form-label">
					Member ID:
					<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<input type="text" class="form-control" name="memberID" value="@Model.addfamilymemberInfo.memberID" required maxlength="85" />
					</div>
					</div>

					<!--Serial No. -->
					<div class="col-md-3">
					<div class="mb-3">
					<label class="form-label">
					Serial No.:
					<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<input type="text" class="form-control" name="serialNum" value="@Model.familyInfo.serialNum" required maxlength="85" />
					</div>
					</div>*@

					<!-- Relationship -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Relationship:
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<!-- First Name -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								First Name:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="firstName" value="@Model.addfamilyheadInfo.firstName" required maxlength="65" />
						</div>
					</div>

					<!-- Middle Name -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Middle Name:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="middleName" value="@Model.addfamilyheadInfo.middleName" required maxlength="65" />
						</div>
					</div>

					<!-- Last Name -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Last Name:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="lastName" value="@Model.addfamilyheadInfo.lastName" required maxlength="65" />
						</div>
					</div>

					<!-- Extension Name -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Extension Name:
							</label>
							<input type="text" class="form-control" name="extensionName" value="@Model.addfamilyheadInfo.extName" maxlength="45" />
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<!-- Sex -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label radio1x2">
								Sex:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<div class="form-check radio1x2">
								<input class="form-check-input" type="radio" name="sex" id="M" value="M" @if (Model.addfamilyheadInfo.sex == "M")
								{
									<text>checked</text>
								}>
								<label class="form-check-label" for="male">
									Male
								</label>
							</div>
							<div class="form-check radio1x2">
								<input class="form-check-input" type="radio" name="sex" id="F" value="F" @if (Model.addfamilyheadInfo.sex == "F")
								{
									<text>checked</text>
								}>
								<label class="form-check-label" for="female">
									Female
								</label>
							</div>
						</div>
					</div>

					<!-- Birthdate -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Birthdate:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="date" class="form-control text-muted" name="birthdate" value="@Model.addfamilyheadInfo.birthdate" required pattern="\d{4}-\d{2}-\d{2}">
						</div>
					</div>

					<!-- Evacuation Center Type -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Civil Status:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<select class="form-select" name="centerType" required>
								<option value="" selected disabled>Select Civil Status</option>
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Widowed">Widowed</option>
								<option value="Annulled">Annulled</option>
							</select>
						</div>
					</div>

					<!-- Religion -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Religion:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="extName" value="@Model.addfamilyheadInfo.religion" maxlength="45" />
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<!-- Education -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Education:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="education" value="@Model.addfamilyheadInfo.education" required maxlength="45" />
						</div>
					</div>

					<!-- Occupation -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Occupation:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="occupation" value="@Model.addfamilyheadInfo.occupation" required maxlength="45" />
						</div>
					</div>

					<!-- Ethnicity -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Ethnicity:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="ethnicity" value="@Model.addfamilyheadInfo.ethnicity" required maxlength="45" />
						</div>
					</div>
					<!-- Health Condition -->
					<div class="col-md-3">
						<div class="mb-3">
							<label class="form-label">
								Health Condition:
								<span class="text-danger" style="padding: 5px">*</span>
							</label>
							<input type="text" class="form-control" name="ethnicity" value="@Model.addfamilyheadInfo.healthCondition" required maxlength="45" />
						</div>
					</div>
				</div>

				<div class="row">
					<!-- Remarks -->
					<div class="mb-3">
						<label class="form-label">
							Remarks:
						</label>
						<textarea class="form-control" name="description" value="@Model.addfamilyheadInfo.remarks" rows="3" required></textarea>
					</div>
				</div>
			</form>
		</div>
		<!-- Cancel and Save Button -->
		<div class="button-spacer">
			<a class="btn btn-outline-secondary mr-10" href="/family/index" role="button">Cancel</a>
			<button type="button" class="btn btn-primary" id="submitBtn" onclick="confirmSave()">Save</button>
		</div>
	</div>
</div>
