@page
@model AgapayAidSystem.Pages.Disaster.AddModel
@{
	ViewData["Title"] = "Add Disaster";
}

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<div class="container p-2 form-container">

	<div class="container mt-4 form-container-content">

		<div class="row">
			<div class="col text-center">
				<h1>Add Disaster</h1>
			</div>
		</div>

		<div class="row pt-4">
			<form method="POST">
				<div class="row mb-3">
					<p class="text-danger text-end">* Required field</p>
				</div>
				<!-- Disaster Name -->
				<div class="mb-3">
					<label class="form-label">
						Disaster Name:
						<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<input type="text" class="form-control" name="disasterName" value="@Model.disasterInfo.disasterName" placeholder="ex. Typhoon Pedro" required maxlength="65">
				</div>

				<!-- Disaster Type -->
				<div class="mb-3">
					<label class="form-label">
						Disaster Type:
						<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<select class="form-select" name="disasterType" required>
						<option value="" selected disabled>Select Disaster Type</option>
						@if (Model.DisasterTypes != null)
						{
							@foreach (var type in Model.DisasterTypes)
							{
								<option value="@type">@type</option>
							}
						}
					</select>
				</div>

				<!-- Date Occurred -->
				<div class="mb-3">
					<label class="form-label">
						Date Occurred:
						<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<input type="date" class="form-control text-muted" name="dateOccured" value="@Model.disasterInfo.dateOccured" required pattern="\d{4}-\d{2}-\d{2}">
				</div>

				<!-- Disaster Description -->
				<div class="mb-3">
					<label class="form-label">
						Description:
						<span class="text-danger" style="padding: 5px">*</span>
					</label>
					<textarea class="form-control" name="description" value="@Model.disasterInfo.description" rows="4" required></textarea>
				</div>

				@if (!string.IsNullOrEmpty(Model.successMessage))
				{
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>@Model.successMessage</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				}

				<!-- Cancel and Save Button -->
				<div class="button-spacer">
					<a class="btn btn-outline-secondary mr-10" href="/Disaster/Index" role="button">Cancel</a>
					<button type="submit" class="btn btn-primary" id="submitBtn">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const submitButton = document.getElementById('submitBtn');
	const form = document.querySelector('form');

	submitButton.disabled = true;

	function checkFormValidity() {
		if (form.checkValidity()) {
			submitButton.disabled = false;
		} else {
			submitButton.disabled = true;
		}
	}

	form.addEventListener('input', checkFormValidity);
</script>