@page
@model AgapayAidSystem.Pages.Disaster.IndexModel
@{
	ViewData["Title"] = "Disaster";
}

<div class="container p-2">
	<div class="row pt-3">
		<div class="col">
			<div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a class="nav-link text-muted" asp-area="" asp-page="/Index"><i class="bi bi-house-door-fill" style="padding: 5px;"></i>Home</a></li>
					<li class="breadcrumb-item active" aria-current="page" style="color: #3F8F8B;"><strong>Disaster</strong></li>
				</ol>
			</div>
			<div class="input-group">
				<input type="search" class="form-control ds-input" id="search-bar" placeholder="Search here..." aria-label="Search..." autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
				<button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
			</div>
		</div>
	</div>

	<div class="row pt-4">
		<div class="col">
			<h1>Disaster</h1>
		</div>

		<div class="col-auto">
			<div class="d-flex justify-content-end align-items-center">
				<a class="btn btn-primary mb-2" href="/Disaster/AddDisaster"><i class="bi bi-plus-circle pt" style="padding: 5px;"></i> Add Disaster</a>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table align-middle table-hover " style="width:100%">
			<thead>
				<tr>
					<th>
						Disaster Name
					</th>
					<th>
						Type
					</th>
					<th>
						Description
					</th>
					<th>
						Date Occurred
					</th>
					<th>
						 
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.listDisaster) {
					<tr>
						<td width="20%">@item.disasterName</td>
						<td width="10%">@item.disasterType</td>
						<td width="35%">@item.description</td>
						<td width="10%">@item.dateOccured</td>
						<td width=15%>
							<button class="btn btn-primary"><i class="bi bi-file-earmark-post"></i></button>
							<a class="btn btn-success" href="/Disaster/EditDisaster?disasterID=@item.disasterID"><i class="bi bi-pencil-fill"></i></a>
							<a class="btn btn-danger" href="#" onclick="confirmDelete('@item.disasterID')"><i class="bi bi-trash-fill"></i></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<script>
	function confirmDelete(disasterID) {
		if (confirm("Are you sure you want to delete this disaster?")) {
			window.location.href = "/Disaster/DeleteDisaster?disasterID=" + disasterID;
		}
	}
</script>