@page
@model AgapayAidSystem.Pages.Inventory.IndexModel
@{
	ViewData["Title"] = "Inventory";
}

<!-- Alert Banners -->
@if (!string.IsNullOrEmpty(Request.Query["successMessage"]))
{
    <div id="success-notification" class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Request.Query["successMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <script>
        const successNotification = document.getElementById('success-notification');
        if (successNotification) {
            setTimeout(function () {
                successNotification.style.display = 'none';
            }, 5000); // 5000 milliseconds = 5 seconds
        }
    </script>
}

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error: @Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Request.Query["errorMessage"]))
{
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error: @Request.Query["errorMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}


<!-- Breadcrumb -->
<div class="row pb-2" aria-label="breadcrumb">
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door-fill" style="padding: 5px;"></i>Home</a></li>
            <li class="breadcrumb-item active"><a><strong>Inventory</strong></a></li>
        </ol>
    </nav>
</div>

<!-- Title and Add Button-->
<div class="row mb-2">
    <div class="col-12 d-flex align-items-center justify-content-between">
        <h1><i class="bi bi-box-fill" style="padding: 0 5px 0 5px;"></i>Inventory</h1>
    </div>
</div>


<!-- Table -->
<div class="row">
    <table id="inventory-table" class="table display compact order-column table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Disaster Name</th>
                <th width="20%">Center Name</th>
                <th width="22%">Item Name</th>
                <th width="10%">Type</th>
                <th width="15%">Unit Measure</th>
                <th width="18%">
                    Qty<br />
                    <small>(Remaining/Total)</small>
                </th>
                <td width="25%" style="text-align:left;">Remarks</td>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 1;
            }
            @foreach (var item in Model.listInventory)
            {
                <tr>
                    <td>@counter</td>
                    <th>@item.disasterName</th>
                    <td>@item.centerName</td>
                    <td>@item.itemName</td>
                    <td>@item.itemType</td>
                    <td>@item.unitMeasure</td>
                    <td>@item.qty</td>
                    <td>@item.remarks</td>
                    <td width="5%">
                        <div class="d-inline position-relative">
                            <a href="#" role="button" id="recordOptions" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="recordOptions">
                                <li>
                                    <a class="dropdown-item" href="/disaster/profile/inventory/index?centerLogID=@item.centerLogID">
                                        View the Inventory
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>

<!-- Making the table responsive -->
<script>
	$(document).ready(function () {
		$('#inventory-table').DataTable({
			responsive: true,
			columnDefs: [
				{ "orderable": false, "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8] } // Non-sortable columns
			]
		});
	});
</script>
