@page
@model AgapayAidSystem.Pages.NotificationModel
@{
}

@*<div id="notification" class="notification position-absolute top-100 start-50 translate-middle-x">
    <div class="notifi-heading-container">
        <a class="notifi-heading"><strong>Notification</strong></a>
        <button class="btn btn-link" onclick="markAllAsRead()" style="text-decoration: none; font-family: poppins; color: #495057; font-size: 14px;">Mark All as Read</button>
    </div>
    <hr style="width: 100%; margin:0; border: 1px solid #408c8c;">

    @foreach (var item in Model.listNotification)
    {
        if (item.isRead == "Read")
        {
            <!-- notif1 -->
            <div class="notifi-text">
                <div class="notifi-text-margin">
                    <!-- href for specific evacuation!!! -->
                    <div class="row" onclick="window.location.href='/evacuationcenter/profile'" style="cursor: pointer;">
                        <a><strong>Assigned</strong></a>
                        <p>
                            <i class="bi bi-building-fill" style="padding: 0 5px 0 5px;"></i>
                            @item.centerName<br>

                            <i class="bi bi-house-door-fill" style="padding: 5px;"></i>
                            @item.disasterName<br>

                            <i class="bi bi-calendar-check-fill" style="padding: 5px;"></i>
                            @item.sentAt
                        </p>
                    </div>
                </div>
                <hr style="width: 100%; margin:0; border: 1px solid #408c8c;">
            </div>
        }

        if (item.isRead == "Sent")
        {
            <!-- notif2 -->
            <div class="notifi-text unread">
                <!-- "add unread if its new notification!! -->
                <div class="notifi-text-margin">
                    <!-- href for specific evacuation!!! -->
                    <div class="row" onclick="window.location.href='/evacuationcenter/profile'" style="cursor: pointer;">
                        <a><strong>You have a new assignment!</strong></a>
                        <p>
                            <i class="bi bi-building-fill" style="padding: 0 5px 0 5px;"></i>
                            @item.centerName<br>

                            <i class="bi bi-house-door-fill" style="padding: 5px;"></i>
                            @item.disasterName<br>

                            <i class="bi bi-calendar-check-fill" style="padding: 5px;"></i>
                            @item.sentAt
                        </p>
                    </div>
                </div>
                <hr style="width: 100%; margin:0; border: 1px solid #408c8c;">
            </div>
        }
    }
</div>*@